[submodule "Submodules/boost"]
	path = Submodules/boost
	url = https://github.com/boostorg/boost.git
[submodule "Submodules/opencv"]
	path = Submodules/opencv
	url = https://github.com/Itseez/opencv.git
[submodule "Submodules/opencv_contrib"]
	path = Submodules/opencv_contrib
	url = https://github.com/Itseez/opencv_contrib.git
